<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176544894197-pl10gf25t18h2u28i6aq62rvvs7voogp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176544894197-pl10gf25t18h2u28i6aq62rvvs7voogp</string>
	<key>API_KEY</key>
	<string>AIzaSyBj3wyn1okeycW2iSQ_3KJ4gIdh2zMb2MA</string>
	<key>GCM_SENDER_ID</key>
	<string>176544894197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yunahkim.flavorfile</string>
	<key>PROJECT_ID</key>
	<string>recipebook-363ad</string>
	<key>STORAGE_BUCKET</key>
	<string>recipebook-363ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176544894197:ios:fd1c20cb9939111b9249bc</string>
</dict>
</plist>